@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Krona+One&display=swap");

/* Global */
* {
  margin: 0;
  box-sizing: border-box;
}
h1,
p,
label {
  font-family: "Krona One", sans-serif;
}
body {
  background-color: black;
}
/* Navbar */
#navbar {
  position: fixed;
  top: 0;
  padding: 5px;
  font-family: "Krona One", sans-serif;
  z-index: 100;
  color: white;
}
#navbar a {
  text-decoration: none;
  text-align: center;
  color: inherit;
  float: left;
  margin: 0.2vw;
}
#yolo {
  display: block;
  width: 0%;
  padding-top: 20px;
  border-bottom: 8px solid red;
  transition: 0.5s;
  position: relative;
  bottom: 2vh;
}

#navbar h1 {
  text-align: center;
}
#logo {
  margin: 1vh auto;
  width: 100px;
  height: 100px;
  border: 4px solid #ad0000;
  border-radius: 50%;
  text-align: center;
}
#logo h1 {
  padding-top: 1vh;
  color: white;
  font-size: 1.2rem;
}

ul {
  list-style-type: none;
  margin: auto 28vw;
  padding-top: 2vh;
  text-align: center;
  width: 100%;
}
li {
  display: inline-block;
  margin: 0 10px;
  font-size: 2rem;
}
/* Utilities */
.img {
  display: block;
  height: 15vh;
  width: 8vw;
  margin: auto;
  padding: 5px;
}
.container {
  position: relative;
  width: 100%;
  margin: 0;
}
.main-content {
  position: absolute;
  top: 0;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./imgs/imgy.jpg) center/cover;
  padding-top: 40vh;
  color: white;
}
/* Home Section */

#home h1 {
  position: relative;
  text-align: center;
  font-size: 4rem;
  top: 0;
}
#home p {
  margin: auto;
  font-size: 1.5rem;
  text-align: justify;
  width: 50vw;
}
span {
  font-size: 3.5rem;
  font-family: "Akaya Kanadaka", cursive;
  color: red;
}
/* Shopping Section */
#shop h1 {
  position: relative;
  text-align: center;
  font-size: 3rem;
  bottom: 10vh;
}
button {
  display: block;
  margin: auto;
  font-size: 1.5rem;
  background: #ad0000;
  border: 2px solid #ad0000;
  border-radius: 5%;
  color: white;
  font-family: "Krona One", sans-serif;
  padding: 10px;
}
button:hover {
  cursor: pointer;
  font-weight: bold;
  border: 2px solid #ad000038;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    center/cover #ad0000;
}
.grid-container {
  display: grid;
  grid-gap: 1.2vw 0.2vw;
  grid-template-columns: auto auto auto;
  border-radius: 2vw;
  background-color: black;
  border: 4px solid red;
  margin: auto;
  position: absolute;
  bottom: 5vh;
  padding: 20px;
}
.grid-item {
  margin: auto;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  padding: 5px;
}
/* About Section */
#about {
  position: relative;
  bottom: 5vh;
  display: grid;
  padding: 0 5vw;
  grid-gap: 1.2vw;
  grid-template-columns: auto auto auto;
}
#about .grid-item {
  font-size: 1.5rem;
  text-align: left;
}
#about .img {
  border-radius: 5%;
  margin: auto;
  height: auto;
  width: 20vw;
}
#about a {
  text-decoration: none;
  color: blue;
}
#about a:hover {
  text-decoration: underline;
  color: #ad0000;
}
/* Contact Section */
#contact form {
  position: absolute;
  padding: 20px;
  border-radius: 5%;
  background-color: black;
  border: 8px solid #ad0000;
  width: 40vw;
  margin: auto 30vw;
  bottom: 3vh;
}
#contact label {
  text-align: center;
  display: block;
  padding: 5px;
  font-size: 1.5rem;
}
#contact textarea,
#contact input {
  display: block;
  margin: 2vh auto;
  padding: 5px;
  font-size: 1.5rem;
  border-radius: 10px;
  width: 100%;
}
#contact textarea:focus,
#contact input:focus {
  border: 2px solid royalblue;
  box-shadow: 0px 0px 30px royalblue;
}

/* Media queries */
@media screen and (max-width: 1440px) {
  ul {
    margin: auto 25vw;
  }
  .grid-container {
    bottom: 15vh;
  }
  #contact form {
    bottom: 15vh;
  }
}
@media screen and (max-width: 1024px) {
  .img {
    width: 15vw;
  }
  ul {
    margin: auto 18vw;
  }
}
@media screen and (max-width: 768px) {
  #home {
    padding-top: 20vh;
  }
  #home h1 {
    font-size: 2rem;
  }
  #home p {
    font-size: 1rem;
  }
  #contact form {
    bottom: 20vh;
  }
  li {
    font-size: 1.2rem;
  }
  .grid-container {
    bottom: 25vh;
  }
  #about {
    bottom: 20vh;
  }
  #about .grid-item {
    font-size: 1rem;
  }
  .img {
    width: 12vw;
  }
  #about .img {
    width: 40vw;
  }
}
@media screen and (max-width: 768px) and (max-height: 668px) {
  #home {
    padding-top: 30vh;
  }
  .grid-container {
    bottom: 5vh;
  }
  #contact form {
    bottom: 0;
  }
  #about {
    bottom: 15vh;
  }
}
@media screen and (max-width: 426px) {
  #home {
    padding-top: 30vh;
  }
  ul {
    margin: auto;
  }
  li {
    font-size: 1rem;
  }
  .img {
    width: 20vw;
  }
  .grid-container {
    bottom: 20vh;
    grid-gap: 0;
  }
  #about {
    padding: 0;
    grid-gap: 0;
  }
  #about .grid-item {
    font-size: 0.8rem;
  }
  #contact form {
    margin: auto 25vw;
    width: 50vw;
  }
  #contact label,
  #contact input,
  button {
    font-size: 1rem;
  }
}
@media screen and (max-width: 426px) and (max-height: 668px) {
  .grid-container {
    bottom: 0;
  }
}
@media screen and (max-width: 378px) {
  #home h1 {
    font-size: 1.5rem;
  }
  li {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 360px) {
  .grid-container {
    bottom: 10vh;
    padding: 0;
  }
  .grid-item {
    font-size: 1rem;
  }
  #about {
    bottom: 15vh;
  }
  #about .grid-item {
    font-size: 0.6rem;
  }
  #home {
    padding-top: 30vh;
  }
  #home h1,
  #home span {
    font-size: 1.5rem;
  }
  
  #home p,
  li {
    font-size: 0.8rem;
  }
}
